/* General CSS rules */

* {
  box-sizing: border-box;
}
p {
  background-color: yellow;
}

.box {
  width: 400px;
  height: 200px;
  border: 5px solid blue;
}

/* media queries rules */

@media all and (max-width: 575px) {
  .longText,
  .box {
    display: none;
  }
}
@media all and (min-width: 576px) {
  .shortText {
    font-size: 2rem;
  }

  .longText {
    background-color: green;
    text-align: center;
  }

  .box {
    width: 100%;
  }
}
