/* General CSS rules */

* {
  box-sizing: border-box;
}
p {
  background-color: yellow;
}
body {
  background-color: lightgreen;
}

.box {
  width: 400px;
  height: 200px;
  border: 5px solid blue;
  margin: auto;
}

/* media queries rules */

@media all and (max-width: 575px) {
  .longText,
  .box {
    display: none;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .shortText {
    font-size: 2rem;
  }

  .longText {
    background-color: green;
    text-align: center;
  }

  .box {
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .shortText {
    font-weight: bold;
    color: red;
    text-align: right;
    font-size: 1.5rem;
  }
  .longText {
    color: brown;
    text-transform: uppercase;
  }
  .box {
    width: 80%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .box {
    width: 70%;
    border: 5px solid brown;
    background-color: grey;
  }
  .shortText,
  .longText {
    text-align: left;
  }
}

@media all and (min-width: 1200px) {
  p {
    font-size: 2.5rem;
  }

  .longText {
    font-size: 18px;
  }

  body {
    background-color: lightblue;
  }

  .box {
    width: 50%;
  }
}

/* Orientation */

@media all and (orientation: landscape) {
  body {
    border: 5px solid green;
    background-color: pink;
  }
}
